.header {
	width:  100%;
	height: 250px;
	background-color: #b5ffff;
	background: url(img/logo.jpg) no-repeat bottom;
}
.body {
	background-color: #b5ffff;
}
.main {
	width:  100%;
	height: 80%;
}
.content {
	width:  50%;
	height: 100%;
	margin: auto;
	padding: 50px;
	border: 2px solid rgb(0,0,0);
}
.future {
	width:  50%;
	height: 50px;
	margin: auto;
}
.date {
	padding-top: 15px;
	font-size: 18px;
	margin: 0px;
	text-align: center;
	color: rgb(255,255,255);
}
h1 {
	margin-top: 0px;
	text-align: left;
	font-size: 22px;
	margin-left: 5px;
	margin-bottom: 0px;
}
p {
	font-size: 18px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 36px;
}
hr {
	
}
